* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  display: block;
  flex-direction: column;
  min-height: 100vh;
}

/* .modal-open .wrapper{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
} */