body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("https://images.homedepot-static.com/productImages/39871b7a-9311-4193-91f9-69c5fee642b3/svn/beyond-basics-wallpaper-420-87099-64_1000.jpg");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}